*{
    font-family: Arial, Helvetica, sans-serif;
}

.debug .cooperative,
.debug .plus,
.debug .sales,
.debug .now{
    height: 500px;
    background-color: blueviolet;
}

.debug footer{
    height: 500px;
    background-color: cadetblue;
}

#site_header{
    position: relative;
}

.fixed_menu{
    height: 112px;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: calc(675px - 112px);
    top: 112px;
}
