.debug nav{
    background-color: aqua;
    min-height: 150px;
}

.debug header{
    background-color: blueviolet;
    min-height: 500px;
}

.debug [class^="col"]{
    min-height: 200px;
    background-color: bisque;
}

.debug .cooperative,
.debug .plus{
    height: 500px;
    background-color: blueviolet;
}

